body {
    background-color: silver;
}

.weatherCard {
    margin-top: 40px;
    border: 2px white solid;
    box-shadow: 5px 5px 5px black;
    border-radius: 10px;
    
}

h1 {
    text-align: center;
    margin: 12px 0;
}

#remove {

    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: black;
    opacity: 0.5;
    color: white;
}

#remove:hover {
    opacity: 1.0;
}

.list-group {
    border: 2px solid white;
    background-color: silver;
}

#changeColor {
    color: orange;
}